h1 {
    color: red;
    padding: 10px;  
}

body {
    background-color: #f0f0f0;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

}

p {
    padding: 20px;
}

#titulo-uepa {
    text-align: center;
    color: darkgreen;
    text-decoration: underline;
}

.botao-azul {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}